@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap");

$dark-black: #121212;
$light-black: #181818;
$in-between: #1c1c1c;
$lighter-black: #282828;
$green-light-back: #1aa34a;
$green-dark-back: #1db954;
$text-grey: #b0b0b0;

#application-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 14px 72px;
  box-sizing: border-box;
  z-index: 10;

  &.filled {
    background-color: $dark-black;
  }

  #button-container {
    display: flex;
    justify-content: space-between;

    .nav-chip {
      margin-right: 16px;
      height: 32px;
      background-color: $dark-black;
      color: $text-grey;
      font-family: "Nunito Sans", sans-serif;
      font-weight: 700;
      padding: 0 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 999px;
      cursor: pointer;
      transition: color 250ms ease;
      border: none;
      font-size: 14px;
      position: relative;
      outline: none;
      text-decoration: none;

      &.active {
        color: white;
      }

      &:hover {
        color: white;
      }
    }
  }
}
