@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap");

$dark-black: #121212;
$light-black: #181818;
$in-between: #1c1c1c;
$lighter-black: #282828;
$green-light-back: #1aa34a;
$green-dark-back: #1db954;
$text-grey: #b0b0b0;

#tindify-playlist-container {
  padding-top: 60px;

  .more-menu {
    position: absolute;
    //right: 0;
    //top: 24px;
    background-color: $lighter-black;
    display: flex;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      font-size: 14px;
      line-height: 1;
      display: flex;
      align-items: center;
      white-space: nowrap;
      margin: 4px 0;
      width: 100%;
      padding: 8px 20px;
      color: $text-grey;
      cursor: pointer;

      &:hover {
        color: white;
        background-color: #363636;
      }
    }
  }

  .route-header {
    color: white;
  }

  .tooltip {
    background-color: white;
    font-size: 12px;
    color: black;
    visibility: hidden;
    display: flex;
    position: absolute;
    padding: 2px;

    &.visible {
      visibility: visible;
    }
  }

  #tindify-header {
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 30px 60px;

    $cover-size: 0.12 * 100vw;
    $note-size: 0.06 * 100vw;
    #playlist-cover {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: $cover-size;
      height: $cover-size;
      min-width: 120px;
      min-height: 120px;
      background-color: $lighter-black;

      #playlist-cover-image {
        width: $cover-size;
        height: $cover-size;
        min-width: 120px;
        min-height: 120px;
      }

      #beam-note {
        width: $note-size;
        min-width: 60px;
        height: auto;
        color: rgba(255, 255, 255, 0.2);
      }
    }

    h1 {
      font-size: 60px;
      font-weight: 900;
      font-family: "Nunito Sans", sans-serif;
      padding: 30px 30px 0 30px;
      margin: 0;
    }
  }

  #title-row-container {
    padding: 0 60px;
    width: 100%;
    box-sizing: border-box;

    .playlist-title-row {
      width: 100%;
      height: 44px;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 40% 20% 20% 5% 15%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      span {
        color: lightgrey;
        font-weight: 400;
        font-size: 15px;
      }
    }
  }

  #tindify-playlist {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    padding: 0 60px;
    margin-bottom: 60px;

    &:after {
      content: "";
      background-color: rgba(0, 0, 0, 0.2);
      width: 100vw;
      height: 100vh;
      z-index: -1;
      position: fixed;
      top: 0;
      left: 0;
    }

    #tindify-playlist-title {
      display: flex;
      font-size: 24px;
      font-weight: 800;
      line-height: 1.5;

      top: 0;
      left: 0;
      width: 100%;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      #title-row {
        color: white;
        font-size: 14px;
        align-items: center;

        &:hover {
          background-color: rgba(0, 0, 0, 0);
        }

        #clock {
          //transform: rotate(90deg);
          justify-self: flex-end;
          grid-column: 5 / 6;
          margin-right: 80px;

          #clock-svg {
            fill: white;
            width: 16px;
            height: auto;
          }
        }
      }

      .playlist-row {
        width: 100%;
        height: 44px;
        padding: 0 24px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 40% 20% 20% 5% 15%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        &:hover {
          background-color: rgba(255, 255, 255, 0.08);

          & .more {
            visibility: visible;
          }
        }

        .playlist-song-title,
        .playlist-artist,
        .playlist-album,
        .playlist-date-added {
          justify-self: flex-start;
          align-self: center;
          white-space: nowrap;
          color: white;
        }

        .playlist-song-title,
        .playlist-artist {
          font-weight: 500;
        }

        .playlist-album,
        .playlist-date-added {
          color: lightgrey;
        }

        .more {
          color: $text-grey;
          font-size: 24px;
          align-self: center;
          line-height: 1;
          visibility: hidden;
          cursor: pointer;
          position: relative;

          .more-svg {
            fill: white;
            width: 14px;
            height: auto;
          }

          &.active {
            visibility: visible;
          }
        }

        .playlist-date-added {
          justify-self: flex-end;
        }
      }
    }

    #exit-playlist {
      background-color: $lighter-black;
      position: absolute;
      right: 24px;
      top: 24px;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      z-index: 10;
      border: 1px solid rgba(255, 255, 255, 0.08);

      &:hover {
        filter: brightness(2);
      }
    }

    #no-playlist-warning {
      margin-top: 60px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #line-1 {
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 30px;
      }

      #line-2 {
        margin-bottom: 30px;
        font-size: 14px;
        font-weight: 500;
        color: lightgrey;
      }

      #no-playlist-button-container {
        #no-playlist-button {
          border: none;
          outline: none;
          font-family: "Nunito Sans", sans-serif;
          font-size: 16px;
          font-weight: 500;
          width: 200px;
          background-color: white;
          border-radius: 999px;
          padding: 8px;
          cursor: pointer;
          transition: transform 150ms ease, font-weight 150ms ease;

          &:hover {
            transform: scale(1.1);
            font-weight: 600;
          }
        }
      }
    }
  }

  #loading-container {
  }

  #no-playlist-warning {
    width: 100%;
    height: 100%;
  }
}
