@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap");

$dark-black: #121212;
$light-black: #181818;
$lighter-black: #282828;
$green-light-back: #1aa34a;
$green-dark-back: #1db954;

#swipe {
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  #swipe-container {
    position: relative;
    background-color: $dark-black;
    width: 100%;
    height: 600px;

    #swipe-container-gradient {
      position: absolute;
      height: 232px;
      width: 100%;
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), $dark-black);
      transition: background-color 250ms ease;
    }

    #card-container {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;

      & > .deck-container {
        position: absolute;
        width: 100%;
        height: 80%;
        will-change: transform;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #swipe-back-button {
        position: absolute;
        align-self: center;
        font-weight: 700;
        font-size: 18px;
        color: white;
        background-color: $green-dark-back;
        text-decoration: none;
        line-height: 1.5;
        padding: 1rem 2rem;
        border-radius: 999px;
        letter-spacing: 1px;
        max-width: 300px;
        transition: filter 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
        border: none;

        &:hover {
          filter: brightness(1.1);
        }
      }
    }
  }
}
