@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap");

$dark-black: #121212;
$light-black: #181818;
$in-between: #1c1c1c;
$lighter-black: #282828;
$green-light-back: #1aa34a;
$green-dark-back: #1db954;
$another-black: #181818;
$thumb-bar: #ffffff4d;

#category-route {
  background-color: $in-between;
  color: white;
  padding-top: 60px;
  min-height: 100vh;
  position: relative;

  box-sizing: border-box;
  /*display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  column-gap: 16px;
  row-gap: 16px;*/

  .playlist-section {
    min-height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    #playlists {
      // display: flex;
      // flex-wrap: wrap;
      padding: 0 74px;
      display: grid;
      grid-gap: 16px;
      grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
      //grid-auto-rows: auto;
      grid-auto-rows: minmax(164px, 1fr);

      #no-data-warning {
        font-family: "Nunito Sans", sans-serif;
        padding: 0 14px;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        #oops {
          font-size: 32px;
          font-weight: 900;
          display: block;
          margin-top: 50px;
        }

        #oops-body {
          margin-top: 8px;
          font-size: 15px;
          font-weight: 600;
        }
      }
    }
  }
}
