@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap");

$light-black: #181818;
$lighter-black: #282828;
$green-light-back: #1aa34a;
$green-dark-back: #1db954;

.category {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;

  .gradient {
    position: absolute;
    background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.4));
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;

    .category-title {
      color: white;
      position: absolute;
      padding: 1rem;
      margin: 0;
      font-family: "Nunito Sans", sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.3em;
      z-index: 1;
    }

    .category-image {
      width: 100px;
      height: 100px;
      position: absolute;
      bottom: 0;
      right: 0;
      transform: rotate(25deg) translate(18%, -2%);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
  }
}

@media only screen and (max-width: 600px) {
  .category {
    border-radius: 4px;

    .gradient {
      border-radius: 4px;
      display: flex;
      align-items: center;
      //flex-direction: row-reverse;

      .category-title {
        position: relative;
        color: white;
        padding: 0.5rem;
        margin: 0;
        font-family: "Nunito Sans", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.3em;
        z-index: 1;
        order: 2;
      }

      .category-image {
        position: relative;
        width: 70px;
        height: 70px;
        transform: rotate(0deg) translate(0%, 0%);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
        order: 1;
      }
    }
  }
}
