@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap");

$light-black: #181818;
$lighter-black: #282828;
$green-light-back: #1aa34a;
$green-dark-back: #1db954;

.swipe-header {
  width: 100%;
  padding-top: 60px;
  transition: background-color 250ms ease;
  .header-gradient {
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));

    h1 {
      color: white;
      margin: 0;
      font-family: "Nunito Sans", sans-serif;
      font-weight: 900;
      font-size: 96px;
      padding: 36px 72px 20px 72px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .swipe-header {
    padding-top: 60px;
    .header-gradient {
      h1 {
        font-size: 64px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .swipe-header {
    padding-top: 60px;
    .header-gradient {
      h1 {
        padding: 16px 72px 20px 16px;
        font-size: 40px;
      }
    }
  }
}

@media only screen and (max-width: 330px) {
  .swipe-header {
    padding-top: 60px;
    .header-gradient {
      h1 {
        padding: 16px 72px 20px 16px;
        font-size: 40px;
      }
    }
  }
}

@media only screen and (max-height: 700px) {
  .swipe-header {
    padding-top: 60px;
    .header-gradient {
      h1 {
        padding: 0px 72px 0px 16px;
        font-size: 24px;
        display: none;
      }
    }
  }
}
